version: "3.9"

services:
  app:
    build: .
    container_name: streamlit_app
    expose:
      - "8501"

  nginx:
    image: nginx:latest
    container_name: nginx_reverse_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
